@font-face {
    font-family: "Abadi MT Condensed Light";
    src: url("//db.onlinewebfonts.com/t/15898c1b4ff12cded84f74a011b62a91.eot");
    src: url("//db.onlinewebfonts.com/t/15898c1b4ff12cded84f74a011b62a91.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/15898c1b4ff12cded84f74a011b62a91.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/15898c1b4ff12cded84f74a011b62a91.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/15898c1b4ff12cded84f74a011b62a91.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/15898c1b4ff12cded84f74a011b62a91.svg#Abadi MT Condensed Light") format("svg");
}


/* MOBILE FIRST */



/* RESPONSIVE GRID */

.row::after {
    content: "";
    clear: both;
    display: block;
}
/* my clearfix class */

[class*="col-"] {
    float: left;
    padding: 15px;
    min-height: 1px; /* prevents horizontal collapse */
    width: 100%;
}


/* PAGE LAYOUT */
* {
  color: #000;
  box-sizing: border-box;
}

.page-container {
  /*background-color: #fff;*/
  width: 100%;                                                     /* NEED RESPONSIVE ADAPTATION (80) */
  margin: auto;
}


/* LOGO */
.logo-container {
  text-align: center;
}

.logo-img {
  display: inline-block;
  width: 80%;                                                      /* NEED RESPONSIVE ADAPTATION (80-100) */
}


/* SITE NAVIGATION */
.nav-bar {
  padding: 10px;
}

.nav {
  display: inline-block;
  padding: 0;
  text-align: center;                                              /* NEED RESPONSIVE ADAPTATION (text-align: none;) */

}

.nav li {
  display: inline-block;
  margin-right: 10px;
  font-family: 'Abadi MT Condensed Light', sans-serif;
  font-size: 32px;
  float:;                                                               /* NEED RESPONSIVE ADAPTATION (float: left;) */
  width: 100%;             /* NEED RESPONSIVE ADAPTATION (reduce/ delete width so buttons stack next to each other ) */

}

.nav a {
  text-decoration: none;
  display: block;
  padding: 6px 20px;
}


/* SOCIAL MEDIA ICONS/LINKS */
.social-links {
  padding: 0;
  text-align: center;                                              /* NEED RESPONSIVE ADAPTATION (text-align: none;) */
}

.soc-link-icon {
  float:;                                                          /* NEED RESPONSIVE ADAPTATION (float: right;) */
  height: 48px;
  width: 48px;
  margin-left: 10px;

}


/* FOOTER */
.footer {
  border: 3px solid orange;
}



/*.table-container {
  display: table;
  width: 100%;
}*/

/*.table-row {
  display: table-row;
}

.table-cell {
  padding: 20px;
  display: table-cell;
}

.right-align {
 text-align: right;
}

.left-align {
 text-align: left;
}

.homepage-image {
  width: 90%;
}*/
