/* This stylesheet employs mobile first approach */

/* imports font */
@font-face {
    font-family: "Abadi MT Condensed Light";
    src: url("//db.onlinewebfonts.com/t/15898c1b4ff12cded84f74a011b62a91.eot");
    src: url("//db.onlinewebfonts.com/t/15898c1b4ff12cded84f74a011b62a91.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/15898c1b4ff12cded84f74a011b62a91.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/15898c1b4ff12cded84f74a011b62a91.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/15898c1b4ff12cded84f74a011b62a91.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/15898c1b4ff12cded84f74a011b62a91.svg#Abadi MT Condensed Light") format("svg");
}


/* FOR ALL PAGES */

/* PAGE STRUCTURE */
/* initial structure is one column layout spanning 100% width */
/* ========================================================================= */

/* clearfix */
.row::after {
    content: "";
    clear: both;
    display: block;
}

/* sets all columns to width: 100% */
[class*="col-"] {
    float: left;
    padding: 15px;
    min-height: 1px; /* prevents horizontal collapse */
    width: 100%;
}

* {
  color: #000;
  box-sizing: border-box;
}

.page-container {
  width: 100%;
  margin: auto;
}


/* HEADER */
/* ========================================================================= */

/* LOGO */
.logo-container {
  text-align: center;
}

.logo-img {
  display: inline-block;
  width: 80%;
}


/* SITE NAV */
.nav-bar {
  padding: 10px;
}

.nav {
  display: inline-block;
  padding: 0;
  text-align: center;
}

.nav li {
  display: inline-block;
  margin-right: 10px;
  font-family: 'Abadi MT Condensed Light', sans-serif;
  font-size: 48px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
}

.nav a {
  text-decoration: none;
  display: block;
  padding: 6px 20px;
}


/* SOCIAL MEDIA ICONS/LINKS */
.social-links {
  padding: 0;
  text-align: center;
}

.soc-link-icon {
  height: 48px;
  width: 48px;
  margin-left: 10px;
  margin: 10px;
}


/* FOOTER */
/* ========================================================================= */

.footer {
  border-top: 1px solid #eee;
}

.footer-text {
  text-align: center;
}


/* HOME PAGE */
/* ========================================================================= */

/* IMAGE LINKS [in table] */
.homepage-image {
  width: 100%;
}


/* ABOUT PAGE */
/* ========================================================================= */

.left-box-about-image {
  width: 90%;
  vertical-align: top;
  margin: auto;
}

.about-portrait-image {
  width: 100%;
}

.right-box-about-text {
    padding-top: 20px;
    width: 80%;
    vertical-align: top;
    text-align: justify;
    margin: auto;
}


/* MEDIA QUERIES */
/* ========================================================================= */

@media(min-width: 560px){

  .nav li {
    font-size: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* end of 560px media query */
}


@media (min-width: 660px) {

  /* RESPONSIVE GRID */
  /* layout switches from 1-column to 12-column responsive grid */
  /* ================================================================= */

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}


  /* PAGE STRUCTURE */
  /* ================================================================= */

  .page-container {
    width: 80%;
  }

  /* HEADER */
  /* ================================================================= */

  /* LOGO */
  .logo-img {
    display: inline-block;
    width: 100%;
  }


  /* SITE NAV */
  .nav {
    text-align: left;
  }

  .nav li {
    /* could display as block but strange minimizing behavior*/
  }

  .nav a {
    float: left;
    width: 50%;
  }


  /* SOCIAL MEDIA ICONS/LINKS */

  .social-links {
    text-align: right;
  }

  .soc-link-icon {
    float: right;
  }


  /* HOME PAGE */
  /* ================================================================= */

  /* GALLERY GRID */
  /* layout built with css table*/
  .table-container {
    display: table;
    width: 100%;
  }

  .table-row {
    display: table-row;
  }

  .table-cell {
    padding: 20px;
    display: table-cell;
  }

  /* alignment of content within table cells */
  .right-align {
   text-align: right;
  }

  .left-align {
   text-align: left;
  }

  /* width of home page images in table cell*/
  .homepage-image {
    width: 90%;
  }


  /* ABOUT PAGE */
  /* ================================================================= */

  .left-box-about-image {
    width: 40%;
    vertical-align: top;
    margin: auto;
  }

  .about-portrait-image {
    width: 100%;
  }

  .right-box-about-text {
    padding-top: 0px;
    width: 60%;
    vertical-align: top;
    text-align: justify;
  }

  .about-text {
    width: 90%;
  }

/* end of 660px media query */
}
