/* RESPONSIVE GRID */

.row::after {
    content: "";
    clear: both;
    display: block;
}
/* my clearfix class */

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
    min-height: 1px; /* prevents horiztonal collapse */
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}




/* PAGE LAYOUT */
* {
  color: purple;
  box-sizing: border-box;
}

.page-container {
  background-color: #eeeeee;
  width: 80%;
  margin: auto;
  border: 4px dotted grey;
}

.logo-container {
  text-align: center;
}

.logo {
  background-color: pink;
  display: inline-block;
  width: ;
}

.nav,
.nav li {
  font-weight: bold;
  font-size: 25px;
  display: inline-block;
  /* issues with inline styles */
  /* cant set width */
  /* whitespace*/

  /* BUT, if we use inline-block we can correct width, but not whitespace*/
}

.nav li {
  margin-right: 10px;
  background-color: white;
}

.nav a {
  color: blue;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

.social-links {
}

.soc-link-icon {
  float: right;
  height: 40px;
  width: 40px;
  margin-left: 10px;

}

.footer {
  border: 3px solid orange;
}



/* TRYING TO BUILD IMAGE GRID
 =================================*/

 .table-container {
   display: table;
   width: 100%;
 }

 .table-row {
   display: table-row;
   background-color: pink;
 }

 .table-cell {
   padding: 20px;
   /*height: 350px; note: fixed height left makes for funny length when shrinking page
   width: 350px;*/
   /*width: 20%;*/
   border: 1px solid black;
   display: table-cell;
 }

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

 .homepage-image {
   width: 90%;
   /*height: 100%;*/
 }



/* EXPERIMENT */
.col-bkg {
  background-color: red;
}
 /* OLD IMAGE GRID
 ================================*/

 /*.gallery-nav-container {
     margin: auto;

 }

 .box-container {
   border: 3px solid blue;
   overflow: auto;
   width: 90%;
   margin: auto;
 }*/

 /*.box-container-2 {
   margin: auto;
   border: 3px dotted orange;
   overflow: auto;

 ! this didn't work - just placed orange border directly alonside it's containing element (box-container)
 }*/


 /*[class*="box-test-"] {
   height: 350px;
   width: 350px;
     float: left;
   margin: 10px 10px 10px 10px;

   display: table-cell;
 }

 .box-test-1 {
   background-color: pink;
 }

 .box-test-2 {
   background-color: yellow;
 }

 .box-test-3 {
   background-color: green;
 }

 .box-test-4 {
   background-color: orange;
 }*/
