/* RESPONSIVE GRID */

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}




/* PAGE LAYOUT */
* {
  color: purple;
}

.page-container {
  color: pink;
  width: 50%;
  margin: auto;

}

.logo {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.nav {
  font-weight: bold;
  font-size: 25px;
}

.social-logo {}


.soc-link-text {
  font-weight: bold;
  font-size: 25px;
  text-align: right;
}

.box-container {
  margin-left: 0 auto;
  margin-right: 0 auto;
  border: 3px solid blue;
  overflow: auto;
  width: 90%;
}

/*
[class*="box-test-"] {
  height: 300px;
  width: 300px;
  margin: 10px 10px 10px 10px;
  float: left;
}

.box-test-1 {
  background-color: pink;
}

.box-test-2 {
  background-color: yellow;
}

.box-test-3 {
  background-color: green;
}

.box-test-4 {
  background-color: orange;
}*/

.footer {
  border: 3px solid orange;
}
